Repository zhaoyuuu/violet-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: remove unnecessary code in upload.stories.tsx
  src/components/Upload/upload.stories.tsx
Due: prettier --write, eslint

feat: test cicd
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
  package.json
  src/stories/Introduction.stories.mdx
Due: none

feat: test cicd --
  src/stories/Introduction.stories.mdx
Due: none

fix: deploy cicd
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -2
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -3
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -4
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -5
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -6
  src/stories/Introduction.stories.mdx
Due: none

fix: deploy cicd yml -7
  .github/workflows/test_and_deploy.yml
Due: none

fix: deploy cicd yml -8
  .github/workflows/test_and_deploy.yml
Due: none

fix: solve style conflict
  src/components/Form/_style.scss
  src/components/Form/formItem.tsx
Due: prettier --write, eslint

fix: deploy cicd yml -9
  src/stories/Introduction.stories.mdx
Due: none

fix: deploy cicd yml -10
  .github/workflows/test_and_deploy.yml
Due: none

feat: add e2e-test
  package-lock.json
  package.json
  src/components/Affix/affix.spec.tsx
  src/components/Button/button.spec.tsx
  src/components/CheckBox/checkbox.spec.tsx
  src/components/Input/input.spec.tsx
  src/components/InputNumber/inputNumber.spec.tsx
  src/components/InputNumber/inputNumber.tsx
  src/components/Progress/progress.spec.tsx
  src/components/Row/row.spec.tsx
  src/components/Switcher/switcher.spec.tsx
  src/components/Tabs/tabItem.spec.tsx
Due: prettier --write, eslint

add storybook Docs and readme
  README.md
  package-lock.json
  src/stories/Introduction.stories.mdx
Due: none

add story docs & readme
  package-lock.json
Due: none

fix: inputNumber bug
  src/components/InputNumber/inputNumber.tsx
Due: prettier --write, eslint

fix: bug
  src/components/Tabs/tabItem.spec.tsx
Due: prettier --write, eslint

fix:checkbox style
  package-lock.json
  src/components/CheckBox/_style.scss
Due: prettier --write

add readme
  README.md
  src/stories/Introduction.stories.mdx
Due: none

modify readme
  README.md
  src/stories/Introduction.stories.mdx
Due: none

fix: fix index.tsx
  src/components/DatePicker/index.tsx
  src/index.tsx
Due: prettier --write, eslint

feat:add grid & correct disabled tabs
  src/components/Grid/grid/RowContext.tsx
  src/components/Grid/grid/_style.scss
  src/components/Grid/grid/col.tsx
  src/components/Grid/grid/index.tsx
  src/components/Grid/grid/row.tsx
  src/components/Grid/index.tsx
  src/components/Tabs/_style.scss
  src/styles/index.scss
Due: prettier --write, eslint

feat:add grid story
  src/components/Grid/grid/_style.scss
  src/components/Grid/grid/col.tsx
  src/components/Grid/grid/row.tsx
  src/components/Grid/story/grid.scss
  src/components/Grid/story/grid.stories.tsx
Due: prettier --write, eslint

fix: fix radio component bug
  src/components/Radio/radioGroup.tsx
  src/components/Select/select.stories.tsx
Due: prettier --write, eslint

modify docs
  README.md
  src/stories/Introduction.stories.mdx
Due: none

modify docs
  README.md
Due: none

feat: optimize cicd
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
Due: none

modify pic size
  README.md
Due: none

feat: release v0.2.1
  package.json
Due: none

Update README.md
  README.md
Due: none

fix: optimize cicd
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
Due: none

feat:add all icon story without style and fix grid story
  src/components/Grid/story/grid.stories.tsx
  src/components/Icon/icon.stories.tsx
Due: prettier --write, eslint

Create Licence
  Licence
Due: none

fix: cicd
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
Due: none

feat: add test before commit
  .husky/pre-commit
  package-lock.json
  package.json
  stats.html
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.html)) or (any of: *.scss)
  eslint: any of: *.{ts,tsx}
