Repository zhaoyuuu/violet-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint"],
  "*.html": "prettier --write",
  "*.scss": "prettier --write"
}

feat: optimize cascader
  .storybook/preview.js
  src/components/Calendar/_style.scss
  src/components/Cascader/cascader.stories.tsx
  src/components/DatePicker/RangeDatePicker/RangeDatePicker.tsx
  src/components/Input/_style.scss
Due: prettier --write, eslint

feat:add datepicker transtion
  src/components/DatePicker/Picker.tsx
  src/components/DatePicker/RangeDatePicker/RangeDatePicker.tsx
Due: prettier --write, eslint

feat: add decorator to the datepicker story
  src/components/DatePicker/stories/DatePicker.stories.tsx
  src/components/DatePicker/stories/RangePicker.stories.tsx
Due: prettier --write, eslint

feat:refine icon story
  src/_utils/DateUtil.tsx
  src/_utils/types.tsx
  src/components/Calendar/CalenderComponents/CalendarBody.tsx
  src/components/Calendar/CalenderComponents/CalendarContainer.tsx
  src/components/Calendar/DayView.tsx
  src/components/DatePicker/Picker.tsx
  src/components/Icon/icon.stories.tsx
  src/components/Icon/story.scss
Due: prettier --write, eslint

feat: lint-staged rule
  .lintstagedrc.json
  src/components/Affix/affix.stories.tsx
Due: prettier --write, eslint

fix: remove transition in index.tsx
  src/index.tsx
Due: prettier --write, eslint

feat: optimize button style
  src/components/Button/_style.scss
  src/components/Button/button.stories.tsx
  src/components/Button/button.tsx
  src/styles/_variables.scss
Due: prettier --write, eslint

feat: optimize rangedatepicker style
  src/components/Calendar/_style.scss
Due: prettier --write

fix: fix grid.scss bug
  src/components/Grid/grid/_style.scss
Due: prettier --write

feat: remove spec tests
  src/components/Affix/affix.spec.tsx
  src/components/Button/button.spec.tsx
  src/components/CheckBox/checkbox.spec.tsx
  src/components/Input/input.spec.tsx
  src/components/InputNumber/inputNumber.spec.tsx
  src/components/Progress/progress.spec.tsx
  src/components/Row/row.spec.tsx
  src/components/Switcher/switcher.spec.tsx
  src/components/Tabs/tabItem.spec.tsx
Due: prettier --write, eslint

feat:optimize datepicker style
  src/components/Calendar/CalendarSelectedController.tsx
  src/components/Calendar/_style.scss
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/RangeDatePicker/RangeDatePicker.tsx
  src/components/RangeDatePicker/RangePicker.stories.tsx
  src/components/RangeDatePicker/RangePickerInput.tsx
Due: prettier --write, eslint

feat:optimize datepicker style
  src/components/Calendar/_style.scss
Due: prettier --write

feat:Modify the configuration of the storybook to display only docs & optimize calendar story - add description for each story & del Row
  .storybook/main.js
  .storybook/preview.js
  src/components/Calendar/Calendar.stories.tsx
  src/components/Calendar/CalendarSelect.tsx
  src/components/Grid/index.tsx
  src/components/Row/_style.scss
  src/components/Row/index.tsx
  src/components/Row/row.tsx
  src/index.tsx
  src/styles/index.scss
Due: prettier --write, eslint

fix: add dist
  .lintstagedrc.json
  dist/components/Calendar/CalendarSelect.d.ts
  dist/components/DatePicker/DatePicker.d.ts
  dist/components/Grid/index.d.ts
  dist/components/RangeDatePicker/RangeDatePicker.d.ts
  dist/components/RangeDatePicker/RangePickerInput.d.ts
  dist/components/Row/index.d.ts
  dist/components/Row/row.d.ts
  dist/index.css
  dist/index.d.ts
  dist/index.es.js
  dist/index.umd.js
  stats.html
Due: prettier --write, eslint

fix: publish cicd
  .github/workflows/publish.yml
Due: none

fix: publish cicd
  .github/workflows/publish.yml
  .gitignore
Due: none

fix: modify package_json
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
  package.json
Due: none

fix: bug
  .github/workflows/publish.yml
  .github/workflows/test_and_deploy.yml
  package.json
Due: none

feat: add transition.stories/test
  src/components/Select/select.stories.tsx
  src/components/Transition/_style.scss
  src/components/Transition/_transition.stories.scss
  src/components/Transition/transition.stories.tsx
  src/components/Transition/transition.test.tsx
  src/components/Transition/transition.tsx
  src/index.tsx
  src/styles/index.scss
Due: prettier --write, eslint

fix: modify introduction.stories.mdx
  src/stories/Introduction.stories.mdx
Due: none

fix: fix story abount icon,select,transition
  src/components/Icon/icon.tsx
  src/components/Select/option.tsx
  src/components/Select/select.tsx
  src/components/Transition/transition.tsx
  src/components/Upload/upload.tsx
  src/stories/Introduction.stories.mdx
Due: prettier --write, eslint

feat:add storybook-docs
  .storybook/main.js
  package.json
Due: none

doc: rendering time test
  src/components/Affix/affix.test.tsx
  src/components/AutoComplete/autoComplete.test.tsx
  src/components/Button/button.test.tsx
  src/components/Calendar/calender.test.tsx
  src/components/Cascader/cascader.test.tsx
  src/components/CheckBox/checkbox.test.tsx
  src/components/DatePicker/datePicker.test.tsx
  src/components/Form/form.test.tsx
  src/components/Grid/grid/grid.test.tsx
  src/components/Icon/icon.test.tsx
  src/components/Input/input.test.tsx
  src/components/InputNumber/inputNumber.test.tsx
  src/components/Menu/menu.test.tsx
  src/components/Progress/progress.test.tsx
  src/components/Radio/radio.test.tsx
  src/components/RangeDatePicker/RangeDatePicker.test.tsx
  src/components/Select/select.test.tsx
  src/components/Switcher/switcher.test.tsx
  src/components/Tabs/tabs.test.tsx
  src/components/Upload/upload.test.tsx
Due: prettier --write, eslint

Revert "doc: rendering time test"
  src/components/Affix/affix.test.tsx
  src/components/AutoComplete/autoComplete.test.tsx
  src/components/Button/button.test.tsx
  src/components/Calendar/calender.test.tsx
  src/components/Cascader/cascader.test.tsx
  src/components/CheckBox/checkbox.test.tsx
  src/components/DatePicker/datePicker.test.tsx
  src/components/Form/form.test.tsx
  src/components/Grid/grid/grid.test.tsx
  src/components/Icon/icon.test.tsx
  src/components/Input/input.test.tsx
  src/components/InputNumber/inputNumber.test.tsx
  src/components/Menu/menu.test.tsx
  src/components/Progress/progress.test.tsx
  src/components/Radio/radio.test.tsx
  src/components/RangeDatePicker/RangeDatePicker.test.tsx
  src/components/Select/select.test.tsx
  src/components/Switcher/switcher.test.tsx
  src/components/Tabs/tabs.test.tsx
  src/components/Upload/upload.test.tsx
Due: prettier --write, eslint

feat:optimize storybook & fix bug
  package-lock.json
  src/components/Calendar/Calendar.stories.tsx
  src/components/Calendar/CalenderComponents/CalendarContainer.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/RangeDatePicker/RangePicker.stories.tsx
Due: prettier --write, eslint

solve form reset function and style
  src/components/Button/button.tsx
  src/components/Form/_style.scss
  src/components/Form/form.stories.tsx
Due: prettier --write, eslint

style: change input-component style in storybook
  src/components/Input/_style.scss
  src/components/Input/input.stories.tsx
  src/styles/_variables.scss
Due: prettier --write, eslint

feat: add groupSelect
  hhh.html
  package-lock.json
  package.json
  src/components/Select/_style.scss
  src/components/Select/optGroup.tsx
  src/components/Select/option.tsx
  src/components/Select/select.stories.tsx
  src/components/Select/select.tsx
Due: prettier --write, eslint

feat: add groupSelect
  src/components/Select/select.tsx
Due: prettier --write, eslint

feat: add LongRangeSearchSelect in select.stories
  src/components/Select/select.stories.tsx
Due: prettier --write, eslint

feat:rollback storybook
  .storybook/main.js
  .storybook/preview.js
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

style: change input and form's style in story
  src/components/Form/form.tsx
  src/components/Input/input.tsx
Due: prettier --write, eslint

feat: add LinkageSelect in select component
  src/components/Select/_style.scss
  src/components/Select/select.stories.tsx
  src/components/Select/select.tsx
  src/components/Select/selectStories.code.tsx
  src/components/Transition/_transition.stories.scss
  src/components/Transition/transition.stories.tsx
  src/components/Transition/transition.tsx
Due: prettier --write, eslint

feat: optimize cascader&autoComplete storybook
  README.md
  hhh.html
  package.json
  src/components/AutoComplete/autoComplete.stories.tsx
  src/components/Cascader/cascader.stories.tsx
  src/stories/Introduction.stories.mdx
Due: prettier --write, eslint

fix: fix select bug
  src/components/Select/select.tsx
  src/components/Transition/transition.test.tsx
Due: prettier --write, eslint

feat:optimize icon storybook
  src/components/Icon/icon.stories.tsx
  src/components/Input/input.tsx
  src/components/Transition/_transition.stories.scss
  src/components/Transition/transition.test.tsx
  src/components/Transition/transition.tsx
Due: prettier --write, eslint

feat : optimize switch story
  src/components/Switcher/switcher.stories.tsx
Due: prettier --write, eslint

fix: fix transition.tsx
  package-lock.json
  package.json
  src/components/Transition/transition.tsx
Due: prettier --write, eslint

Update form.test.tsx
  src/components/Form/form.test.tsx
Due: prettier --write, eslint
